@page
@model NhanVT_Assignment1.Pages.CategoryPage.IndexModel

@{
    ViewData["Title"] = "Index";
}
@section Scripts
{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>
                const connection = new signalR.HubConnectionBuilder()
                    .withUrl("/funewsHub")
                    .build();

        connection.on("Change", function() {
            location.reload();
        });

        connection.start().catch(function(err) {
            console.error(err.toString());
        });
    </script>
}

@{
    var email = HttpContext.Session.GetString("Email");

    var roleId = HttpContext.Session.GetInt32("RoleId");

    

    if(email!=null && roleId == 1){


        <h1>Index</h1>

        <p>
            <a asp-page="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Category[0].CategoryName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category[0].CategoryDesciption)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category[0].IsActive)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category[0].ParentCategory)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Category) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryDesciption)
                        </td>
                        <td>
                            @if(item.IsActive == true){
                                <text>Active</text>
                            } else {
                                <text>Inactive</text>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParentCategory.CategoryDesciption)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.CategoryId">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.CategoryId">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.CategoryId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    } else {
        Response.Redirect("/Unauthorized");

    }
}