@page
@model NhanVT_Assignment1.Pages.NewsArticlePage.IndexModel

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a class="btn-primary" asp-page="Create">Create New Article</a>
</p>


<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.NewsArticle[0].NewsTitle)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NewsArticle[0].Headline)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NewsArticle[0].CreatedDate)
			</th>

			<th>
				@Html.DisplayNameFor(model => model.NewsArticle[0].NewsSource)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NewsArticle[0].NewsStatus)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NewsArticle[0].UpdatedById)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NewsArticle[0].ModifiedDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NewsArticle[0].Category)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NewsArticle[0].CreatedBy)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.NewsArticle[0].Tags)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.NewsArticle)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.NewsTitle)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Headline)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreatedDate)
				</td>

				<td>
					@Html.DisplayFor(modelItem => item.NewsSource)
				</td>
				<td>
					@if (Convert.ToInt32(item.NewsStatus) == 1)
					{
						<text>Active</text>
					}
					else
					{
						<text>Inactive</text>
					}
				</td>
				<td>
					@if (item.UpdatedById.HasValue)
					{
						@Model.UpdatedByNames[item.UpdatedById.Value]
					}
					else
					{
						<text>-</text>
					}
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ModifiedDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Category.CategoryName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreatedBy.AccountName)
				</td>
				<td>
					@if (Model.ArticleTagNames.ContainsKey(item.NewsArticleId) && Model.ArticleTagNames[item.NewsArticleId].Any())
					{
						<div class="tag-container">
							@foreach (var tagName in Model.ArticleTagNames[item.NewsArticleId])
							{
								<span class="badge bg-info text-dark me-1">@tagName</span>
							}
						</div>
					} 
					else
					{
						<text>No tags</text>
					}
				</td>
				<td>
					<a asp-page="./Edit" asp-route-id="@item.NewsArticleId">Edit</a> |
					<a asp-page="./Details" asp-route-id="@item.NewsArticleId">Details</a> |
					<a asp-page="./Delete" asp-route-id="@item.NewsArticleId">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
